h1 {
	margin: 0px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 30px;
}
h2 {
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 16px;
}
body {
	background-image: linear-gradient(darkgrey, lightgrey);
	margin: 0px;
}

header {
	margin: 0px;
	margin: 0px;
	border-bottom: 0.5vw solid white;
}

.main_div {
	margin: 10px;
	padding: 1vw;
	background-color: #696969;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
	font-family: 'Roboto Mono', monospace;
	margin: 0px 	;
	color: black;
	font-size: 20px;
}

.text_div {
	background-color: white;
	padding: 1vw;
	border-radius: 3px;
	margin bottom: 6vh;
}
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 1.5vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0.25vw 0.35vw;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;	
}
.button:hover {
	background-color: lightgrey;
}	

.link_space {	
	border-top: white solid 0.5vw;
	text-align: center;
}
.footer {
	width: 100%;
	height: 6rem;
	border-top: white solid 0.5vw;
	padding:1.5vw;
	border-bottom: white solid 0.5vw;
	position: fixed;
}

.titlebox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #696969;
	
	margin-bottom: 1%;
	margin-top: 1%;
	height: 20%;
}
.seper {
	min-height: calc(100vh - 12rem);
}

.logo {
	width: auto;
	height: 50px;
	margin-bottom: -3%;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;

}

