body {
	height: 100vh;
	background-image: url("../images/FBPS015.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}


.content {
	height: 67%;
	width:92%;
	background-color: white;
	margin: auto;
	opacity: 0.98;
	padding: 0.1% 1% 1% 1%;
	margin-top: 3vh;
}
.footer {
	height: 15%;
	width: 100%;
	background-color: grey;
	margin:auto;
	opacity: 0.98;
	position: fixed;
  	bottom: 0px;
  	border-top: white solid 0.5vw;
	border-bottom: white solid 0.5vw;
}

.para {
	background-color: #696969;
	height:97%;
	font-size: 1vw;
}


p {
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 180%;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 85%;
}

.sheet {
	width: 100%;
	height: 100%;
}