h1 {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
}

body {
	background-image: url("../images/FBPS015.jpg");
	background-size: cover;
}

header {
	background: grey;
	border-radius: 5px;
	opacity: 0.9;
}
section {
	background-color: grey;
	opacity: .9;
}
