h1 {
	margin: 0px;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
	font-size: 3vw;
	padding-bottom: 20px;
}
body {
	background-color: linear-gradient(#000c6e, #000f89)
	height:100vh;
	margin: 0px;
}

header {
	background: #000f89;
	opacity: 0.98;
	margin: 0px;
	height: 6vw;
	margin: 0px;
}

.main_div {
	background-image: linear-gradient(#000c6e, #000f89);
	opacity: 0.95;	
	height: 100%;
	margin: 0px;
	padding: 0px;
}

p {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0px;
	color: white;
	font-size: 1.5vw;
}

